/** work sans font from google    fonts*/


@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Work Sans', sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/*header section*/

header {
  /* background: rgba(255, 144, 14, 0.10); */
  background: rgba(255, 144, 14, 0.5);
  padding: 50px 240px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}

.nav-title {
  color: #131313;
  font-size: 4.5rem;
}

nav>ul {
  display: flex;
}

nav li {
  list-style: none;
  margin-right: 30px;
  font-size: 1.8rem;
  font-weight: 500;

  font-style: normal;
  font-weight: 500;
}

nav li a {
  text-decoration: none;
  color: #424242;
}

.banner-content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;



}

.banner-content * {
  margin-bottom: 32px;
}

.banner-title {
  font-size: 4rem;
  font-style: normal;
  font-weight: 700;
  color: #131313;
}

.banner-description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #727272;
}

.btn-primery {
  color: #FFF;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  border-radius: 8px;
  background: #FF900E;
  border: none;
  padding: 21px 25px;

}




/* .banner img {
  width: 100%;
  margin: 0 auto;
  *****marzin dile niche scroll bar ase . r picture left nea dor ker .eact center a

} */


.banner img {
  width: 100%;
  margin-top: 20px;

}

/* responsive media queries..............*/

@media screen and (max-width:576px) {
  header {
    padding: 20px;
  }

  nav {
    flex-direction: column;
  }

}

/* tablet or medium devices.....................*/

@media screen and (min-width:577) and (max-width:967) {
  nav {
    flex-direction: column;
  }

  header {
    padding: 40px;
  }
}